<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="./css/results-styles.css">

    <title>Results of Search</title>


</head>
<body>
    
        <div class="resultsHeading">
            <h1>Welcome to <%= countryName %>'s page</h1>
            <hr>
        </div>

         <div class="sidenav">  
            <p>Surf the Globe</p>
            <a href="#basicfacts">Basic Facts
                <br>
                <i class="fas fa-book"></i>
            </a> 

            <a href="#news">News 
                <br>
                <i class="fas fa-rss"></i>
            </a> 

            <a href="#culture">Culture
                <br>
                <i class="fas fa-music"></i>
            </a> 

            <a href="#health">Health 
                <br>
                <i class="fas fa-heart"></i>
            </a> 
        </div>

        <div class="rightbar">
             <a href="/">Back</a>
                <br>
                <i class="fas fa-arrow"></i>
        </div>
     
    <h1 id="basicfacts">Basic Facts</h1>
        <h2>Here are basic facts for <%= countryName %>!</h2>
        <p> flag, language, population, etc </p>
    <hr>
   
    <h1 id="news">News</h1>
        <h2>Here are the top news stories for <%= countryName %>!</h2>
        <div class="articles">
            <div class="row">
                <% for (let i = 0; i < newsStories.length - 1; i++) { %>
                <div class="newsStory col">
                    <h3><%= newsStories[i].title %></h3>
                    <h5>Story by <%= newsStories[i].author %></h5>
                    <p><%= newsStories[i].description %></p>
                    <p><a href="<%= newsStories[i].url %>">Read full story here</a></p>
                </div>
                <% } %>
            </div>
        </div>
    <hr>
 
    <h1 id="culture">Culture</h1>
        <h2>Here is cultural information for <%= countryName %>!</h2>
        <p> music, movies, shows, etc </p>   
    <hr>

    <h1 id="health">Health</h1>
        <h2>Here is health information for <%= countryName %>!</h2>
        <p> covid, deathrates, etc </p>
    <hr>
    <h4><a href="/">Click to go back to search page</a></h4>

</body>
</html>
